<section class="hp-registration-section">
  <div class="container">
    <div class="hp-registration-section__inner">
      <h4 class="h2 text-center">Přidej se k nám</h4>
      <div class="hp-registration-section__row">
        <div class="hp-registration-section__info">
          <h5 class="h3">Jak to bude probíhat?</h5>
          <p class="p1">
            Judo je úpolový olympijský sport, který založil profesor Jigoro Kano
            v Japonsku v roce 1882. Judo v překladu znamená „jemná cesta“ a
            rozvijí jak fyzickou stránku osobnosti, tak psychickou. Základními
            hodnotami juda jsou respekt, čestnost, sebeovládání, přátelství,
            zdvořilost, čest, odvaha a skromnost.
          </p>
        </div>
        <div class="hp-registration-section__form">
          <h6 class="h4">Nezávazná registrace</h6>
          <form class="hp-form">
            <div class="hp-form__row">
              <label for="">
                Vaše jméno a příjmení *
                <input type="text" placeholder="Martin" required />
              </label>
              <label for="">
                Datum narození *
                <input type="text" placeholder="Tellinger" required />
              </label>
              <label for="">
                Telefon
                <input type="tel" placeholder="+420" />
              </label>
              <label for="">
                E - mail *
                <input
                  type="email"
                  placeholder="martin@tellinger.cz"
                  required
                />
              </label>
            </div>
            <button class="link link--secondary">Odeslat registraci</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
