<section class="hp-registration-section" id="registration">
  <div class="container">
    <div class="hp-registration-section__inner">
      <h4 class="h2 text-center">Přidej se k nám</h4>
      <div class="hp-registration-section__row">
        <div class="hp-registration-section__info">
          <h5 class="h3">Jak to bude probíhat?</h5>
          <p class="p1">
            Už víš, že se chceš přidat k nám? Vyplň registrační formulář. Pokud
            stále váháš, vyplň formulář vedle pro nezávaznou registraci. Přijde
            ti pak informace o časech otevřených tréninků, kdy se můžeš přijít
            podívat a vyzkoušet si trénink s námi. Dne 19. 9. v 17 hodin
            pořádáme slavnostní zahájení činnosti Krpalek Academy. Všichni
            zájemci jsou vítáni. Vyplňte prosím formulář pro nezávaznou
            registraci, abychom věděli, s kým můžeme počítat.
          </p>
        </div>
        <div class="hp-registration-section__form">
          <h6 class="h4">Údaje dítěte</h6>
          <form class="hp-form">
            <div class="hp-form__row">
              <label for="">
                Jméno *
                <input type="text" placeholder="Martin" required />
              </label>
              <label for="">
                Příjmení *
                <input type="text" placeholder="Tellinger" required />
              </label>
              <label for="">
                Datum narození *
                <input type="text" placeholder="Tellinger" required />
              </label>
              <label for="">
                Rodné číslo*
                <input type="text" placeholder="" required />
              </label>
              <label for="">
                Adresa bydliště *
                <input type="text" required placeholder="" />
              </label>

              <label for="">
                Fotka
                <input type="file" required placeholder="" />
              </label>
              <label class="hp-form__label-width" for=""
                >Dřívější zkušenost se sportem?
                <div class="hp-form__radio-box">
                  <label for="yes" class="hp-form__radio-item">
                    <input
                      type="radio"
                      id="yes"
                      name="zkusenost"
                      checked
                      value="ano"
                    />
                    Ano
                  </label>
                  <label for="no" class="hp-form__radio-item">
                    <input type="radio" id="no" name="zkusenost" value="ne" />
                    Ne
                  </label>
                </div>
              </label>
              <label for="" class="hp-form__label-width">
                Případně s jakým sportem?
                <input type="text" placeholder="" />
              </label>
              <label class="hp-form__label-width" for=""
                >Dřívější zkušenost s judem?
                <div class="hp-form__radio-box">
                  <label for="yes2" class="hp-form__radio-item">
                    <input
                      type="radio"
                      id="yes2"
                      name="zkusenost2"
                      checked
                      value="ano2"
                    />
                    Ano
                  </label>
                  <label for="no2" class="hp-form__radio-item">
                    <input
                      type="radio"
                      id="no2"
                      name="zkusenost2"
                      value="ne2"
                    />
                    Ne
                  </label>
                </div>
              </label>
              <label class="hp-form__label-width" for="">
                Případně kolik let a jaké kyu?
                <input type="text" placeholder="" />
              </label>

              <h6 class="h4">Údaje zákonného zástupce</h6>
              <label for="">
                Jméno *
                <input type="text" placeholder="Martin" required />
              </label>
              <label for="">
                Příjmení *
                <input type="text" placeholder="Tellinger" required />
              </label>
              <label for="">
                Telefon *
                <input type="tel" required placeholder="+420" />
              </label>

              <label for="">
                E - mail *
                <input
                  type="email"
                  placeholder="martin@tellinger.cz"
                  required
                />
              </label>
              <label
                for=""
                class="hp-form__label-width hp-form__label-checkbox"
              >
                <input type="checkbox" required />
                <a href="files/podminky.pdf" target="_blank"
                  >Souhlasím s Obchodními podmínkami. *</a
                >
              </label>
              <label
                for=""
                class="hp-form__label-width hp-form__label-checkbox"
              >
                <input type="checkbox" required />
                <a href="files/gdrp.pdf" target="_blank"
                  >Souhlasím se zpracování osobních údajů. *</a
                >
              </label>
            </div>
            <button class="link link--secondary">Odeslat registraci</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
