<section class="about-section" id="about">
  <div class="container">
    <div class="about-section__inner">
      <div class="about-section__img">
        <img src="images/content/about.png" loading="lazy" alt="" />
      </div>
      <div class="about-section__content">
        <h2 class="h2">O akademii</h2>
        <p class="p1">
          Lukáš Krpálek pro vás otevírá novou školu juda. Základem přístupu k
          tréninku je všeobecná pohybová příprava vašich dětí, jejíž nosným
          pilířem je judo a jeho hodnoty.
        </p>
        <p>
          Vaše děti budeme rozvíjet pohybově, emočně, budeme budovat jejich
          sebevědomí a psychickou odolnost. Vytvoříme základ pro pozitivní vztah
          k pohybu a budeme klást důraz na zdravý vývoj dítěte.
        </p>
        <p>
          Nabízíme propracovaný <a href="#">tréninkový program</a>, kvalitní
          zázemí a zkušené <a href="#">trenéry</a>, kteří jsou současnými, či
          bývalými reprezentanty.
        </p>
        <div class="js-gallery">
          <figure>
            <a
              class="link link--secondary mt-4"
              data-size="1800x1200"
              href="images/content/harmonogram.png"
              >Ukázat tréninky a ceny</a
            >
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
