<ul class="social">
  <li class="social__item">
    <a
      target="_blank"
      class="social__link"
      href="https://m.facebook.com/KrpalekAcademy/?paipv=0&eav=AfZ3Mx3Fw75Jq50-1XQtap6ARyEdBE-RMUvA76zGWs7iU5aij13WPiat5ZH0O5sp5Cc&_rdr"
    >
      {% include "@images/facebook.svg" %}
    </a>
  </li>

  <li class="social__item">
    <a
      target="_blank"
      class="social__link"
      href="https://www.instagram.com/krpalek_academy/?igshid=YmMyMTA2M2Y%3D&fbclid=IwAR0KL46Sf7v4fV7ywvXh-rdPqcTOU7ws-Pt971GeeTPHIcL3RIeYpo8b5so"
    >
      {% include "@images/instagram.svg" %}
    </a>
  </li>
</ul>
