<section class="hp-top-section">
  <div class="container">
    <div class="hp-top-section__inner">
      <div class="hp-top-section__content">
        <h1 class="h1 text-primary">Vydej se s námi na cestu</h1>
        <p class="p1">Judo je životní cesta, která rozvijí tělo i ducha.</p>
        <a class="link link--primary" href="#">Jdu do toho</a>
      </div>
      <div class="hp-top-section__bg">
        <img src="/images/content/hp-top.png" loading="lazy" alt="" />
      </div>
    </div>
  </div>
</section>
