<section class="contacts-section">
  <div class="container">
    <div class="contacts-section__inner">
      <h6 class="h2 text-center">Kontakty</h6>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="p1">Akademie</div>
          <ul>
            <li>Zátopkova 100/2</li>
            <li>160 17 Praha 6</li>
            <li>IČ: 00537560</li>
            <li>DIČ: CZ00537560</li>
          </ul>
          <ul>
            <li>
              Email:
              <a href="mailto:czechjudo@czechjudo.cz "
                >czechjudo@czechjudo.cz
              </a>
            </li>
            <li>Telefon: <a href="tel:+420233355280">+420 233 355 280</a></li>
          </ul>
          <a class="link link--secondary" href="#">Zobrazit na mapě</a>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p1">Hala</div>
          <ul>
            <li>Zátopkova 100/2</li>
            <li>160 17 Praha 6</li>
            <li>IČ: 00537560</li>
            <li>DIČ: CZ00537560</li>
          </ul>
          <ul>
            <li>
              Email:
              <a href="mailto:czechjudo@czechjudo.cz "
                >czechjudo@czechjudo.cz
              </a>
            </li>
            <li>Telefon: <a href="tel:+420233355280">+420 233 355 280</a></li>
          </ul>
          <a class="link link--secondary" href="#">Zobrazit na mapě</a>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p1">Trenéři</div>
          <ul>
            <li>Zátopkova 100/2</li>
            <li>160 17 Praha 6</li>
            <li>IČ: 00537560</li>
            <li>DIČ: CZ00537560</li>
          </ul>
          <ul>
            <li>
              Email:
              <a href="mailto:czechjudo@czechjudo.cz "
                >czechjudo@czechjudo.cz
              </a>
            </li>
            <li>Telefon: <a href="tel:+420233355280">+420 233 355 280</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p1">Krpalek Academy</div>
          <div class="contacts-section__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.3158477837583!2d14.385586!3d50.080373099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9505d70438b3%3A0xa93b4e19cf79d090!2sZ%C3%A1topkova%20100%2F2%2C%20169%2000%20Praha%206-B%C5%99evnov!5e0!3m2!1sru!2scz!4v1661832241272!5m2!1sru!2scz"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <a class="link link--secondary" href="#">Zobrazit na mapě</a>
        </div>
      </div>
    </div>
  </div>
</section>
