<section class="aboutSport-section">
  <div class="container">
    <div class="aboutSport-section__inner">
      <div class="aboutSport-section__images">
        <div class="aboutSport-section__img">
          <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
          <div class="aboutSport-section__img--small">
            <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
          </div>
        </div>
      </div>
      <div class="aboutSport-section__info">
        <h4 class="h2">O judu</h4>
        <p class="p1">
          Judo je úpolový olympijský sport, který založil profesor Jigoro Kano v
          Japonsku v roce 1882. Judo v překladu znamená „jemná cesta“ a rozvijí
          jak fyzickou stránku osobnosti, tak psychickou. Základními hodnotami
          juda jsou respekt, čestnost, sebeovládání, přátelství, zdvořilost,
          čest, odvaha a skromnost.
        </p>
      </div>
    </div>
  </div>
</section>
