<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#"> {% include "@images/logo.svg" %} </a>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"> Akademie </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Trenéři </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Judo </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Galerie </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Kontakt </a>
            </li>
            <li class="nav-item nav-item--registration">
              <a class="nav-link" href="#"> Registrace </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
