{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %}
<section class="c-static mt-10">
  <div class="container">
    <h1 class="h1 mb-8">title h1</h1>
    <div class="o-content">
      <p>
        <strong>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quod
          quia ab nam itaque rem amet natus, odio fugiat qui deserunt deleniti?
          Rem iure libero, hic amet quos laudantium quia! Assumenda facilis
          corpori
        </strong>
      </p>
      <p>
        s ipsum sapiente quod perspiciatis, quibusdam culpa autem vitae
        molestiae eum dolore amet voluptatum dolores eaque explicabo tenetur
        voluptas soluta pariatur doloremque temporibus? At dignissimos
        voluptatem repellendus minima? Deserunt tenetur amet sint! Nulla, fugit
        ipsum, temporibus quis enim aut aliquid quae tempore quam non sequi est
        autem. Voluptatibus asperiores cum dolor, quibusdam corrupti excepturi
        neque nisi. Placeat, mollitia! Rerum itaque necessitatibus dolore neque
        eius distinctio eum ad accusantium, veritatis non, ipsum nihil? Ullam
        quasi temporibus sapiente laudantium perspiciatis, ratione eos deleniti
        Nihil, libero commodi. Assumenda iusto veritatis sit dolorum! Sapiente
        dolor quia ex, earum ducimus nostrum quidem, eos quae ipsum ratione
        asperiores, impedit excepturi aliquid earum, odio, deleniti tempore
        officiis.
      </p>
      <table>
        <thead>
          <tr>
            <th>První sloupec</th>
            <th>Druhý sloupec</th>
            <th>Třetí a poslední sloupec</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Obsah prvního sloupce</td>
            <td>Další obsah sloupce</td>
            <td>
              Obsah třetího a posledního sloupce, který je tentokrát o něco
              delší.
            </td>
          </tr>
          <tr>
            <td>Obsah prvního sloupce</td>
            <td>Další obsah sloupce</td>
            <td>
              Obsah třetího a posledního sloupce, který je tentokrát o něco
              delší.
            </td>
          </tr>
          <tr>
            <td>Obsah prvního sloupce</td>
            <td>Další obsah sloupce</td>
            <td>
              Obsah třetího a posledního sloupce, který je tentokrát o něco
              delší.
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        pariatur itaque, laborum quidem, alias tempora eligendi. Error, a
        consequatur similique maxime quasi, facilis temporibus sit reprehenderit
        accusantium ducimus ea repellat minima omnis magni, impedit libero
        neque. Alias soluta necessitatibus ullam modi aperiam quibusdam
        voluptatibus quisquam perspiciatis! Molestias consectetur rem pariatur
        dicta incidunt illum laudantium eos similique sequi, sed quas ratione
        expedita nulla nesciunt et asperiores iusto at? Aliquid sint eaque natus
        enim odit laborum. Dolores, officiis! Suscipit, pariatur cupiditate
        minus, corporis molestias maxime repellendus excepturi eius saepe facere
        dolore dicta repellat beatae reprehenderit. Corporis itaque distinctio
        ex mollitia magni inventore, sapiente incidunt nisi veniam id quae!
      </p>
      <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      <ul>
        <li>
          <a href="#">Základní informace</a>
        </li>
        <li>
          <a href="#">Historie klubu</a>
        </li>
        <li>Vedení</li>
        <li>
          <a href="#">Kontakty</a>
        </li>
      </ul>
      <h2>title h2</h2>
      <p>
        „Miloš je v ideálním <a href="#">fotbalovém věk</a> u. Jde o
        pracovitého, velmi odolného a neústupného hráče. Chtěli jsme ho už v
        létě, ale měl určité zdravotní potíže, které nicméně vyřešil, a tak jsme
      </p>
      <p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/7jGTO0GDWkM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </p>
      <h3>title h3</h3>
      <h4>title h4</h4>
      <h5>title h5</h5>
      <h6>title h6</h6>
      <p>
        pariatur itaque, laborum quidem, alias tempora eligendi. Error, a
        consequatur similique maxime quasi, facilis temporibus sit reprehenderit
        accusantium ducimus ea repellat minima omnis magni, impedit libero
        neque. Alias soluta necessitatibus ullam modi aperiam quibusdam
        voluptatibus quisquam perspiciatis! Molestias consectetur rem pariatur
        dicta incidunt illum laudantium eos similique sequi, sed quas ratione
        expedita nulla nesciunt et asperiores iusto at? Aliquid sint eaque natus
        enim odit laborum. Dolores, officiis! Suscipit, pariatur cupiditate
        minus, corporis molestias maxime repellendus excepturi eius saepe facere
        dolore dicta repellat beatae reprehenderit. Corporis itaque distinctio
        ex mollitia magni inventore, sapiente incidunt nisi veniam id quae!
      </p>
      <p>
        magnam sequi minima sed suscipit a hic totam impedit deleniti. Quasi
        esse totam velit exercitationem nam nostrum quo! Odit adipisci
        laudantium repellendus est. Nemo cumque labore ipsum sapiente impedit,
        quas exercitationem aut voluptas inventore nostrum repudiandae saepe!
        Dicta, magni magnam? Ipsum eaque mollitia exercitationem architecto
        praesentium harum hic, beatae, omnis aliquam laboriosam ullam ad
        dignissimos veritatis! Porro quae tempora architecto blanditiis
      </p>
    </div>
  </div>
</section>

{% endblock %}
