<section class="c-gallery-section mb-6 mb-lg-10">
  <div class="container">
    <header class="mb-3">
      <h1 class="h1">Fotogalerie</h1>
    </header>
    <div class="row js-gallery">
      <div class="col-12">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/1280x548" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <noscript class="loading-lazy">
              <img src="https://via.placeholder.com/640x320" loading="lazy" alt="" />
            </noscript>
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
