<section class="c-gallery-section mb-6 mb-lg-10">
  <div class="container">
    <h1 class="h1 mb-8">Fotogalerie</h1>
    <div class="row js-gallery">
      <div class="col-12">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/1280x548"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/640x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
